* {
    font-family: "JetBrains Mono", serif
}

#container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

#leftbox {
    display: flex;
    min-height: 90vh;
    width: 140px;
    margin-right: 10px;
    flex-direction: column;
    border: 2px solid #EFEFF2;
    border-radius: 17px;
    justify-content: start;
    background: linear-gradient(#F9F9FD,#BFD5FF);
}

.left-buttons {
    padding: 10px 14px;
    border: none;
    border-radius: 15px;
    background-color: white;
    margin: 2vh 4vh;
    color: gray;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
}

    .left-buttons:hover {
        background-color: #C7DBFF;
        border-right: 2px solid darkgray;
        border-left: 2px solid darkgray;
        color: #1267FC;
    }

#second-last {
    margin-top: 200px
}

#last {
    margin-top: 0px;
}

#rightbox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 2px solid #EFEFF2;
    border-radius: 17px;
    width: 100%;
    align-items: center;
}

#right-upper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border: none;
    border-radius: 17px;
    background: linear-gradient(to right,#F9F9FD,#BFD5FF);
}

.day {
    background: rgba(255, 255, 255, 0.5);
    width: 90px;
    padding: 15px;
    margin: 2px;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bolder;
    color: gray;
}

    .day:hover {
        background-color: white;
    }

#_1st-upper {
    width: 100%;
    display: flex;
    justify-content: start;
}

.arrowkey {
    height: 30px;
    padding: 5px 8px;
    border: none;
    border-radius: 10px;
    background-color: inherit;
    margin-top: 15px;
    font-weight: 500;
}

    .arrowkey:hover {
        background-color: white;
    }

#_2nd-upper {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

.day-week-month {
    height: 20px;
    width: 50px;
    margin: 2px 1px;
    font-size: 12px;
    padding: 0px 10px;
    background: rgba(255, 255, 255, 0.6);
    border: none;
    border-radius: 10px;
}

    .day-week-month:hover {
        background-color: white;
    }

#today {
    height: auto;
    width: auto;
    margin: 11px 15px;
    padding: 2px 15px;
    border-radius: 10px;
    color: #0F87FF;
    border: none;
    background-color: white;
    font-size: 10px;
}

#current-date {
    font-weight: 100;
    margin-left: 10px;
}

#right-lower {
    border: 2px solid #EFEFF2;
    border-radius: 17px;
    display: grid;
    grid-template-rows: repeat(9,1fr);
    margin: 10px;
    width: 90%;
}

.time {
    padding: 5px 8px;
    margin: 3px 0px;
    border: none;
    font-size: 10px;
    font-weight: bolder;
    color: gray;
    border-bottom: 2px solid #EFEFF2;
}

#lasttime {
    border-bottom: none;
}

.time:hover {
    background-color: #C7DBFF;
}


#last-day-week-month {
    padding-right: 4vw;
    margin-right: 6.8vw;
}

#right-zeroth {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#left-right-zeroth {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#profile {
    border: 0.5px solid #D4D6DA;
    border-radius: 10px;
    background-color: #F1F8FA;
    font-size: 12px;
    width: 70px;
    height: 30px;
    margin-right: 5vw;
    margin-top: 10px;
    margin-bottom: 5px;
}

    #profile:hover {
        background-color: white;
    }

#enlarged-time {
    font-size: 30px;
    border: none;
    margin-left: 5vw;
    margin-top: 1vh;
    font-weight: 100;
}
